.qbaobei_1{ background:url("qbaobei_1.png") top left no-repeat; }
.qbaobei_r2_c6{ width:66px; height:66px; background-position:-10px -10px; }
.qbaobei_r2_c2{ width:67px; height:66px; background-position:-10px -86px; }
.qbaobei_r2_c4{ width:66px; height:66px; background-position:-10px -162px; }

