.qbaobei_1{ background:url("../img/qbaobei_1.png") top left no-repeat; }
.qbaobei_r8_c5{ width:70px; height:70px; background-position:-10px -10px; }
.qbaobei_r8_c2{ width:70px; height:70px; background-position:-10px -90px; }
.qbaobei_r6_c15{ width:69px; height:70px; background-position:-10px -170px; }
.qbaobei_r6_c9{ width:72px; height:70px; background-position:-10px -250px; }
.qbaobei_r6_c5{ width:70px; height:70px; background-position:-10px -330px; }
.qbaobei_r6_c2{ width:70px; height:70px; background-position:-10px -410px; }
.qbaobei_r8_c15{ width:69px; height:69px; background-position:-10px -490px; }
.qbaobei_r9_c10{ width:66px; height:66px; background-position:-10px -569px; }
.qbaobei_r2_c12{ width:66px; height:66px; background-position:-10px -645px; }
.qbaobei_r2_c3{ width:66px; height:66px; background-position:-10px -721px; }
.qbaobei_r2_c7{ width:66px; height:66px; background-position:-10px -797px; }
.qbaobei_r4_c12{ width:66px; height:65px; background-position:-10px -873px; }
.qbaobei_r4_c7{ width:66px; height:65px; background-position:-10px -948px; }
.qbaobei_r4_c3{ width:66px; height:65px; background-position:-10px -1023px; }

